In [1]:
import pandas as pd 
import sqlite3

In [22]:
df_tarifa = pd.read_csv(r'C:\Users\Usuario\Desktop\DigitalHouse_DataScience\AulasPresenciais\Projeto_integrador\tarifa.txt',delimiter=';', decimal = ',')

In [23]:
df_tarifa['VIGENCIA'] = df_tarifa['VIGENCIA'].astype('str')

In [24]:
df_tarifa['ANO'] = df_tarifa.VIGENCIA.str.slice(6, 10).astype(int)
df_tarifa['MES'] = df_tarifa.VIGENCIA.str.slice(3, 5).astype(int)

In [33]:
df_tarifa = df_tarifa.sort_values(by=['ANO', 'MES'])
df_tarifa = df_tarifa.reset_index(drop=True)

In [51]:
df_tarifa_cp = []
for i in range(0,df_tarifa.shape[0]):
    ano = df_tarifa['ANO'][i]
    mes = df_tarifa['MES'][i]
    valor = df_tarifa['VALOR'][i]
    anomes= ano*100 + mes
    try: 
        anomes_n = df_tarifa['ANO'][i+1]*100 + df_tarifa['MES'][i+1]
    except: 
        anomes_n = anomes
        df_tarifa_cp.append({'ANO':ano,'MES':mes,'VALOR':valor})

    if anomes_n == anomes: 
         pass
    else:
        df_tarifa_cp.append({'ANO':ano,'MES':mes,'VALOR':valor})

    while anomes < anomes_n:
        if mes==12:
            mes=1
            ano+=1
        else:
            mes+=1
        if anomes_n == ano*100 + mes: 
            pass
        else:
            df_tarifa_cp.append({'ANO':ano,'MES':mes,'VALOR':valor})
        anomes= ano*100 + mes

In [56]:
# completanto até o out de 2019

anomes_n = 201911
while anomes < anomes_n:
    if mes==12:
        mes=1
        ano+=1
    else:
        mes+=1
    if anomes_n == ano*100 + mes: 
        pass
    else:
        df_tarifa_cp.append({'ANO':ano,'MES':mes,'VALOR':valor})
    anomes= ano*100 + mes

In [58]:
pd.DataFrame(df_tarifa_cp)

      ANO  MES  VALOR
0    1999    1   1.25
1    1999    2   1.25
2    1999    3   1.25
3    1999    4   1.25
4    1999    5   1.25
5    1999    6   1.25
6    1999    7   1.25
7    1999    8   1.25
8    1999    9   1.25
9    1999   10   1.25
10   1999   11   1.25
11   1999   12   1.25
12   2000    1   1.25
13   2000    2   1.25
14   2000    3   1.25
15   2000    4   1.25
16   2000    5   1.25
17   2000    6   1.25
18   2000    7   1.25
19   2000    8   1.25
20   2000    9   1.25
21   2000   10   1.25
22   2000   11   1.25
23   2000   12   1.25
24   2001    1   1.25
25   2001    2   1.25
26   2001    3   1.25
27   2001    4   1.25
28   2001    5   1.40
29   2001    6   1.40
..    ...  ...    ...
220  2017    5   3.80
221  2017    6   3.80
222  2017    7   3.80
223  2017    8   3.80
224  2017    9   3.80
225  2017   10   3.80
226  2017   11   3.80
227  2017   12   3.80
228  2018    1   4.00
229  2018    2   4.00
230  2018    3   4.00
231  2018    4   4.00
232  2018    5   4.00
233  2018    6   4.00
234  2018    7   4.00
235  2018    8   4.00
236  2018    9   4.00
237  2018   10   4.00
238  2018   11   4.00
239  2018   12   4.00
240  2019    1   4.30
241  2019    2   4.30
242  2019    3   4.30
243  2019    4   4.30
244  2019    5   4.30
245  2019    6   4.30
246  2019    7   4.30
247  2019    8   4.30
248  2019    9   4.30
249  2019   10   4.30

[250 rows x 3 columns]

In [57]:
df_tarifa_cp

[{'ANO': 1999, 'MES': 1, 'VALOR': 1.25},
 {'ANO': 1999, 'MES': 2, 'VALOR': 1.25},
 {'ANO': 1999, 'MES': 3, 'VALOR': 1.25},
 {'ANO': 1999, 'MES': 4, 'VALOR': 1.25},
 {'ANO': 1999, 'MES': 5, 'VALOR': 1.25},
 {'ANO': 1999, 'MES': 6, 'VALOR': 1.25},
 {'ANO': 1999, 'MES': 7, 'VALOR': 1.25},
 {'ANO': 1999, 'MES': 8, 'VALOR': 1.25},
 {'ANO': 1999, 'MES': 9, 'VALOR': 1.25},
 {'ANO': 1999, 'MES': 10, 'VALOR': 1.25},
 {'ANO': 1999, 'MES': 11, 'VALOR': 1.25},
 {'ANO': 1999, 'MES': 12, 'VALOR': 1.25},
 {'ANO': 2000, 'MES': 1, 'VALOR': 1.25},
 {'ANO': 2000, 'MES': 2, 'VALOR': 1.25},
 {'ANO': 2000, 'MES': 3, 'VALOR': 1.25},
 {'ANO': 2000, 'MES': 4, 'VALOR': 1.25},
 {'ANO': 2000, 'MES': 5, 'VALOR': 1.25},
 {'ANO': 2000, 'MES': 6, 'VALOR': 1.25},
 {'ANO': 2000, 'MES': 7, 'VALOR': 1.25},
 {'ANO': 2000, 'MES': 8, 'VALOR': 1.25},
 {'ANO': 2000, 'MES': 9, 'VALOR': 1.25},
 {'ANO': 2000, 'MES': 10, 'VALOR': 1.25},
 {'ANO': 2000, 'MES': 11, 'VALOR': 1.25},
 {'ANO': 2000, 'MES': 12, 'VALOR': 1.25},
 {'ANO': 2001, 'MES': 1, 'VALOR': 1.25},
 {'ANO': 2001, 'MES': 2, 'VALOR': 1.25},
 {'ANO': 2001, 'MES': 3, 'VALOR': 1.25},
 {'ANO': 2001, 'MES': 4, 'VALOR': 1.25},
 {'ANO': 2001, 'MES': 5, 'VALOR': 1.4},
 {'ANO': 2001, 'MES': 6, 'VALOR': 1.4},
 {'ANO': 2001, 'MES': 7, 'VALOR': 1.4},
 {'ANO': 2001, 'MES': 8, 'VALOR': 1.4},
 {'ANO': 2001, 'MES': 9, 'VALOR': 1.4},
 {'ANO': 2001, 'MES': 10, 'VALOR': 1.4},
 {'ANO': 2001, 'MES': 11, 'VALOR': 1.4},
 {'ANO': 2001, 'MES': 12, 'VALOR': 1.4},
 {'ANO': 2002, 'MES': 1, 'VALOR': 1.4},
 {'ANO': 2002, 'MES': 2, 'VALOR': 1.4},
 {'ANO': 2002, 'MES': 3, 'VALOR': 1.4},
 {'ANO': 2002, 'MES': 4, 'VALOR': 1.4},
 {'ANO': 2002, 'MES': 5, 'VALOR': 1.4},
 {'ANO': 2002, 'MES': 6, 'VALOR': 1.4},
 {'ANO': 2002, 'MES': 7, 'VALOR': 1.4},
 {'ANO': 2002, 'MES': 8, 'VALOR': 1.4},
 {'ANO': 2002, 'MES': 9, 'VALOR': 1.4},
 {'ANO': 2002, 'MES': 10, 'VALOR': 1.4},
 {'ANO': 2002, 'MES': 11, 'VALOR': 1.4},
 {'ANO': 2002, 'MES': 12, 'VALOR': 1.4},
 {'ANO': 2003, 'MES': 1, 'VALOR': 1.7},
 {'ANO': 2003, 'MES': 2, 'VALOR': 1.7},
 {'ANO': 2003, 'MES': 3, 'VALOR': 1.7},
 {'ANO': 2003, 'MES': 4, 'VALOR': 1.7},
 {'ANO': 2003, 'MES': 5, 'VALOR': 1.7},
 {'ANO': 2003, 'MES': 6, 'VALOR': 1.7},
 {'ANO': 2003, 'MES': 7, 'VALOR': 1.7},
 {'ANO': 2003, 'MES': 8, 'VALOR': 1.7},
 {'ANO': 2003, 'MES': 9, 'VALOR': 1.7},
 {'ANO': 2003, 'MES': 10, 'VALOR': 1.7},
 {'ANO': 2003, 'MES': 11, 'VALOR': 1.7},
 {'ANO': 2003, 'MES': 12, 'VALOR': 1.7},
 {'ANO': 2004, 'MES': 1, 'VALOR': 1.7},
 {'ANO': 2004, 'MES': 2, 'VALOR': 1.7},
 {'ANO': 2004, 'MES': 3, 'VALOR': 1.7},
 {'ANO': 2004, 'MES': 4, 'VALOR': 1.7},
 {'ANO': 2004, 'MES': 5, 'VALOR': 1.7},
 {'ANO': 2004, 'MES': 6, 'VALOR': 1.7},
 {'ANO': 2004, 'MES': 7, 'VALOR': 1.7},
 {'ANO': 2004, 'MES': 8, 'VALOR': 1.7},
 {'ANO': 2004, 'MES': 9, 'VALOR': 1.7},
 {'ANO': 2004, 'MES': 10, 'VALOR': 1.7},
 {'ANO': 2004, 'MES': 11, 'VALOR': 1.7},
 {'ANO': 2004, 'MES': 12, 'VALOR': 1.7},
 {'ANO': 2005, 'MES': 1, 'VALOR': 1.7},
 {'ANO': 2005, 'MES': 2, 'VALOR': 1.7},
 {'ANO': 2005, 'MES': 3, 'VALOR': 2.0},
 {'ANO': 2005, 'MES': 4, 'VALOR': 2.0},
 {'ANO': 2005, 'MES': 5, 'VALOR': 2.0},
 {'ANO': 2005, 'MES': 6, 'VALOR': 2.0},
 {'ANO': 2005, 'MES': 7, 'VALOR': 2.0},
 {'ANO': 2005, 'MES': 8, 'VALOR': 2.0},
 {'ANO': 2005, 'MES': 9, 'VALOR': 2.0},
 {'ANO': 2005, 'MES': 10, 'VALOR': 2.0},
 {'ANO': 2005, 'MES': 11, 'VALOR': 2.0},
 {'ANO': 2005, 'MES': 12, 'VALOR': 2.0},
 {'ANO': 2006, 'MES': 1, 'VALOR': 2.0},
 {'ANO': 2006, 'MES': 2, 'VALOR': 2.0},
 {'ANO': 2006, 'MES': 3, 'VALOR': 2.0},
 {'ANO': 2006, 'MES': 4, 'VALOR': 2.0},
 {'ANO': 2006, 'MES': 5, 'VALOR': 2.0},
 {'ANO': 2006, 'MES': 6, 'VALOR': 2.0},
 {'ANO': 2006, 'MES': 7, 'VALOR': 2.0},
 {'ANO': 2006, 'MES': 8, 'VALOR': 2.0},
 {'ANO': 2006, 'MES': 9, 'VALOR': 2.0},
 {'ANO': 2006, 'MES': 10, 'VALOR': 2.0},
 {'ANO': 2006, 'MES': 11, 'VALOR': 2.3},
 {'ANO': 2006, 'MES': 12, 'VALOR': 2.3},
 {'ANO': 2007, 'MES': 1, 'VALOR': 2.3},
 {'ANO': 2007, 'MES': 2, 'VALOR': 2.3},
 {'ANO': 2007, 'MES': 3, 'VALOR': 2.3},
 {'ANO': 2007, 'MES': 4, 'VALOR': 2.3},
 {'ANO': 2007, 'MES': 5, 'VALOR': 2.3},
 {'ANO': 2007, 'MES': 6, 'VALOR': 2.3},
 {'ANO': 2007, 'MES': 7, 'VALOR': 2.3},
 {'ANO': 2007, 'MES': 8, 'VALOR': 2.3},
 {'ANO': 2007, 'MES': 9, 'VALOR': 2.3},
 {'ANO': 2007, 'MES': 10, 'VALOR': 2.3},
 {'ANO': 2007, 'MES': 11, 'VALOR': 2.3},
 {'ANO': 2007, 'MES': 12, 'VALOR': 2.3},
 {'ANO': 2008, 'MES': 1, 'VALOR': 2.3},
 {'ANO': 2008, 'MES': 2, 'VALOR': 2.3},
 {'ANO': 2008, 'MES': 3, 'VALOR': 2.3},
 {'ANO': 2008, 'MES': 4, 'VALOR': 2.3},
 {'ANO': 2008, 'MES': 5, 'VALOR': 2.3},
 {'ANO': 2008, 'MES': 6, 'VALOR': 2.3},
 {'ANO': 2008, 'MES': 7, 'VALOR': 2.3},
 {'ANO': 2008, 'MES': 8, 'VALOR': 2.3},
 {'ANO': 2008, 'MES': 9, 'VALOR': 2.3},
 {'ANO': 2008, 'MES': 10, 'VALOR': 2.3},
 {'ANO': 2008, 'MES': 11, 'VALOR': 2.3},
 {'ANO': 2008, 'MES': 12, 'VALOR': 2.3},
 {'ANO': 2009, 'MES': 1, 'VALOR': 2.3},
 {'ANO': 2009, 'MES': 2, 'VALOR': 2.3},
 {'ANO': 2009, 'MES': 3, 'VALOR': 2.3},
 {'ANO': 2009, 'MES': 4, 'VALOR': 2.3},
 {'ANO': 2009, 'MES': 5, 'VALOR': 2.3},
 {'ANO': 2009, 'MES': 6, 'VALOR': 2.3},
 {'ANO': 2009, 'MES': 7, 'VALOR': 2.3},
 {'ANO': 2009, 'MES': 8, 'VALOR': 2.3},
 {'ANO': 2009, 'MES': 9, 'VALOR': 2.3},
 {'ANO': 2009, 'MES': 10, 'VALOR': 2.3},
 {'ANO': 2009, 'MES': 11, 'VALOR': 2.3},
 {'ANO': 2009, 'MES': 12, 'VALOR': 2.3},
 {'ANO': 2010, 'MES': 1, 'VALOR': 2.7},
 {'ANO': 2010, 'MES': 2, 'VALOR': 2.7},
 {'ANO': 2010, 'MES': 3, 'VALOR': 2.7},
 {'ANO': 2010, 'MES': 4, 'VALOR': 2.7},
 {'ANO': 2010, 'MES': 5, 'VALOR': 2.7},
 {'ANO': 2010, 'MES': 6, 'VALOR': 2.7},
 {'ANO': 2010, 'MES': 7, 'VALOR': 2.7},
 {'ANO': 2010, 'MES': 8, 'VALOR': 2.7},
 {'ANO': 2010, 'MES': 9, 'VALOR': 2.7},
 {'ANO': 2010, 'MES': 10, 'VALOR': 2.7},
 {'ANO': 2010, 'MES': 11, 'VALOR': 2.7},
 {'ANO': 2010, 'MES': 12, 'VALOR': 2.7},
 {'ANO': 2011, 'MES': 1, 'VALOR': 3.0},
 {'ANO': 2011, 'MES': 2, 'VALOR': 3.0},
 {'ANO': 2011, 'MES': 3, 'VALOR': 3.0},
 {'ANO': 2011, 'MES': 4, 'VALOR': 3.0},
 {'ANO': 2011, 'MES': 5, 'VALOR': 3.0},
 {'ANO': 2011, 'MES': 6, 'VALOR': 3.0},
 {'ANO': 2011, 'MES': 7, 'VALOR': 3.0},
 {'ANO': 2011, 'MES': 8, 'VALOR': 3.0},
 {'ANO': 2011, 'MES': 9, 'VALOR': 3.0},
 {'ANO': 2011, 'MES': 10, 'VALOR': 3.0},
 {'ANO': 2011, 'MES': 11, 'VALOR': 3.0},
 {'ANO': 2011, 'MES': 12, 'VALOR': 3.0},
 {'ANO': 2012, 'MES': 1, 'VALOR': 3.0},
 {'ANO': 2012, 'MES': 2, 'VALOR': 3.0},
 {'ANO': 2012, 'MES': 3, 'VALOR': 3.0},
 {'ANO': 2012, 'MES': 4, 'VALOR': 3.0},
 {'ANO': 2012, 'MES': 5, 'VALOR': 3.0},
 {'ANO': 2012, 'MES': 6, 'VALOR': 3.0},
 {'ANO': 2012, 'MES': 7, 'VALOR': 3.0},
 {'ANO': 2012, 'MES': 8, 'VALOR': 3.0},
 {'ANO': 2012, 'MES': 9, 'VALOR': 3.0},
 {'ANO': 2012, 'MES': 10, 'VALOR': 3.0},
 {'ANO': 2012, 'MES': 11, 'VALOR': 3.0},
 {'ANO': 2012, 'MES': 12, 'VALOR': 3.0},
 {'ANO': 2013, 'MES': 1, 'VALOR': 3.0},
 {'ANO': 2013, 'MES': 2, 'VALOR': 3.0},
 {'ANO': 2013, 'MES': 3, 'VALOR': 3.0},
 {'ANO': 2013, 'MES': 4, 'VALOR': 3.0},
 {'ANO': 2013, 'MES': 5, 'VALOR': 3.0},
 {'ANO': 2013, 'MES': 6, 'VALOR': 3.0},
 {'ANO': 2013, 'MES': 7, 'VALOR': 3.0},
 {'ANO': 2013, 'MES': 8, 'VALOR': 3.0},
 {'ANO': 2013, 'MES': 9, 'VALOR': 3.0},
 {'ANO': 2013, 'MES': 10, 'VALOR': 3.0},
 {'ANO': 2013, 'MES': 11, 'VALOR': 3.0},
 {'ANO': 2013, 'MES': 12, 'VALOR': 3.0},
 {'ANO': 2014, 'MES': 1, 'VALOR': 3.0},
 {'ANO': 2014, 'MES': 2, 'VALOR': 3.0},
 {'ANO': 2014, 'MES': 3, 'VALOR': 3.0},
 {'ANO': 2014, 'MES': 4, 'VALOR': 3.0},
 {'ANO': 2014, 'MES': 5, 'VALOR': 3.0},
 {'ANO': 2014, 'MES': 6, 'VALOR': 3.0},
 {'ANO': 2014, 'MES': 7, 'VALOR': 3.0},
 {'ANO': 2014, 'MES': 8, 'VALOR': 3.0},
 {'ANO': 2014, 'MES': 9, 'VALOR': 3.0},
 {'ANO': 2014, 'MES': 10, 'VALOR': 3.0},
 {'ANO': 2014, 'MES': 11, 'VALOR': 3.0},
 {'ANO': 2014, 'MES': 12, 'VALOR': 3.0},
 {'ANO': 2015, 'MES': 1, 'VALOR': 3.5},
 {'ANO': 2015, 'MES': 2, 'VALOR': 3.5},
 {'ANO': 2015, 'MES': 3, 'VALOR': 3.5},
 {'ANO': 2015, 'MES': 4, 'VALOR': 3.5},
 {'ANO': 2015, 'MES': 5, 'VALOR': 3.5},
 {'ANO': 2015, 'MES': 6, 'VALOR': 3.5},
 {'ANO': 2015, 'MES': 7, 'VALOR': 3.5},
 {'ANO': 2015, 'MES': 8, 'VALOR': 3.5},
 {'ANO': 2015, 'MES': 9, 'VALOR': 3.5},
 {'ANO': 2015, 'MES': 10, 'VALOR': 3.5},
 {'ANO': 2015, 'MES': 11, 'VALOR': 3.5},
 {'ANO': 2015, 'MES': 12, 'VALOR': 3.5},
 {'ANO': 2016, 'MES': 1, 'VALOR': 3.8},
 {'ANO': 2016, 'MES': 2, 'VALOR': 3.8},
 {'ANO': 2016, 'MES': 3, 'VALOR': 3.8},
 {'ANO': 2016, 'MES': 4, 'VALOR': 3.8},
 {'ANO': 2016, 'MES': 5, 'VALOR': 3.8},
 {'ANO': 2016, 'MES': 6, 'VALOR': 3.8},
 {'ANO': 2016, 'MES': 7, 'VALOR': 3.8},
 {'ANO': 2016, 'MES': 8, 'VALOR': 3.8},
 {'ANO': 2016, 'MES': 9, 'VALOR': 3.8},
 {'ANO': 2016, 'MES': 10, 'VALOR': 3.8},
 {'ANO': 2016, 'MES': 11, 'VALOR': 3.8},
 {'ANO': 2016, 'MES': 12, 'VALOR': 3.8},
 {'ANO': 2017, 'MES': 1, 'VALOR': 3.8},
 {'ANO': 2017, 'MES': 2, 'VALOR': 3.8},
 {'ANO': 2017, 'MES': 3, 'VALOR': 3.8},
 {'ANO': 2017, 'MES': 4, 'VALOR': 3.8},
 {'ANO': 2017, 'MES': 5, 'VALOR': 3.8},
 {'ANO': 2017, 'MES': 6, 'VALOR': 3.8},
 {'ANO': 2017, 'MES': 7, 'VALOR': 3.8},
 {'ANO': 2017, 'MES': 8, 'VALOR': 3.8},
 {'ANO': 2017, 'MES': 9, 'VALOR': 3.8},
 {'ANO': 2017, 'MES': 10, 'VALOR': 3.8},
 {'ANO': 2017, 'MES': 11, 'VALOR': 3.8},
 {'ANO': 2017, 'MES': 12, 'VALOR': 3.8},
 {'ANO': 2018, 'MES': 1, 'VALOR': 4.0},
 {'ANO': 2018, 'MES': 2, 'VALOR': 4.0},
 {'ANO': 2018, 'MES': 3, 'VALOR': 4.0},
 {'ANO': 2018, 'MES': 4, 'VALOR': 4.0},
 {'ANO': 2018, 'MES': 5, 'VALOR': 4.0},
 {'ANO': 2018, 'MES': 6, 'VALOR': 4.0},
 {'ANO': 2018, 'MES': 7, 'VALOR': 4.0},
 {'ANO': 2018, 'MES': 8, 'VALOR': 4.0},
 {'ANO': 2018, 'MES': 9, 'VALOR': 4.0},
 {'ANO': 2018, 'MES': 10, 'VALOR': 4.0},
 {'ANO': 2018, 'MES': 11, 'VALOR': 4.0},
 {'ANO': 2018, 'MES': 12, 'VALOR': 4.0},
 {'ANO': 2019, 'MES': 1, 'VALOR': 4.3},
 {'ANO': 2019, 'MES': 2, 'VALOR': 4.3},
 {'ANO': 2019, 'MES': 3, 'VALOR': 4.3},
 {'ANO': 2019, 'MES': 4, 'VALOR': 4.3},
 {'ANO': 2019, 'MES': 5, 'VALOR': 4.3},
 {'ANO': 2019, 'MES': 6, 'VALOR': 4.3},
 {'ANO': 2019, 'MES': 7, 'VALOR': 4.3},
 {'ANO': 2019, 'MES': 8, 'VALOR': 4.3},
 {'ANO': 2019, 'MES': 9, 'VALOR': 4.3},
 {'ANO': 2019, 'MES': 10, 'VALOR': 4.3}]

In [59]:
df_ciclovias = pd.read_csv(r'C:\Users\Usuario\Desktop\DigitalHouse_DataScience\AulasPresenciais\Projeto_integrador\ciclovias.txt',delimiter=';', decimal = ',')

In [62]:
db = sqlite3.connect('apoio.db')

df_ciclovias.to_sql('base_ciclovias', db, schema='dbo', index=False, if_exists='replace')
pd.DataFrame(df_tarifa_cp).to_sql('base_tarifa_transporte', db, schema='dbo', index=False, if_exists='replace')